@import './mixin'

.card_item
	background #efefef
	position relative
	text-align center
	.card_facade
		unselectable()
		position absolute
		left: 50%
		top: 50%
		margin-top -214px
		margin-left -160px
		width 320px
		height 100%
		.title
			font-size 36px
			line-height 428px
		img
			width 320px
