@import './mixin'

.card_item
	position relative
	text-align center
	.card_facade
		unselectable()
		position absolute
		left 50%
		top 50%
		margin-top -214px
		margin-left -160px
		width 320px
		height 428px
		img.u_word
			width 320px
		.title
			z-index 9
			width 100%
			position absolute
			top 50%
			margin-top -40px
			height 80px
			text-align center
			line-height 80px
			font-size 36px
			color white
			text-shadow -1px -1px 0px rgba(0, 0, 0, .8)

