@import './mixin'
@import './base'
@import './kontext'
@import './card'

.start
	.banner
		text-align center
		font-size 60px
		position absolute
		width 100%
		top 50%
		color white
		margin-top -36px
