@import './mixin'
@import './base'
@import './icon'
@import './kontext'
@import './card'

.start
	height: 100%
	unselectable()
	.banner
		text-align center
		position absolute
		width 100%
		top 40%
		margin-top -36px
		font-size 60px
		.dancing
			color white
			text-shadow 0 -1px 0 rgba(0,0,0,0.25)
		.login
			display block
			color white
			text-decoration: none
		.avatar
			margin-top 15px
			img
				border-radius 7px
				width 60px
.fixed
	position fixed
	z-index 99
	width 100%
.foot_nav
	bottom 0px
	height 60px
	background rgba(255,255,255,0.5)
