@import './mixin'
@import './base'
@import './icon'
@import './card'

bar-height = 60px
nav_bg = #2ecc71

.start.active
	max-height bar-height
	height bar-height
	background nav_bg
	fixed()
	padding-top 10px
	.banner
		top 0
		margin 0
		position relative
		height 100%
		.dancing
			font-size 30px
			line-height bar-height
		.avatar
			vertical-middle-auto()
			left 5px
			height 40px
			img
				width 40px
		.info
			display none
		.sync
			display block
			vertical-middle 30px
			right 5px
			font-size 30px
.start
	height 100%
	unselectable()
	.banner
		text_center()
		position absolute
		top 30%
		margin-top -36px
		.dancing
			font-size 60px
			text-shadow-inset()
		.login
			display block
			color white
			font-size 60px
			text-decoration: none
		.avatar
			margin-top 15px
			img
				border-radius 7px
				width 60px
		.info
			text-shadow-inset()
		.sync
			display none
			text-shadow-inset()
.foot_nav
	bottom 0px
	height 70px
	fixed()
	unselectable()
