include ../mixins/header_helper

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
meta(property="qc:admins" content="743156116506727")
mixin meta_tag("viewport","width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
mixin meta_tag("apple-mobile-web-app-capable","yes")
mixin meta_tag("apple-mobile-web-app-status-bar-style","black-translucent")
mixin meta_tag("description","这里是 17up 学会,爱知识,爱生活,爱同伴,认识自我,迎接内心的变革,开拓未来,见证奇迹,希望从这里开始。")
mixin meta_tag("keywords","在线教育,语言教育,智能学习,17up,language,education,imagine,academy,knowledge,peace,future")
title imagine card
mixin stylesheet_link_tag("/mobile_assets/application.css")
mixin javascript_include_tag("/mobile_assets/application.js")
link(href="/favicon.png" rel="shortcut icon")
link(href="/favicon.png" rel="apple-touch-icon-precomposed")
