!!! 5
html(lang="en")
	head
		include includes/header
		include includes/track.html
	body
		section
			nav
			#container
				aside
					ul#side_nav
						li(rel = 'dashboard')
							span.icon-leaf
							div
								學院
							i
						li(rel = 'account')
							span.icon-user
							div
								帳戶
							i
						li(rel = "teach")
							span.icon-magic
							div
								教案
							i
				article
		footer