.foot_nav
	ul
		li.sync
			span.icon-refresh
			span.badge
				= cnt
		li.config
			span.icon-cogs
#help.modal
	.h_title 17up 做卡片记单词 beta
	p 是不是经常爱拍照呢？自拍？街拍？偷拍？乱拍？那么多好照片不用来制作单词卡片就可惜咯，现在不用担心你的照片无处炫耀啦。
	p 小柒为你准备了每周单词卡片特训课程，只要轻轻一点，就可以选取照片制作完一张自己的单词卡片了。
	p 基本操作很简单：用手指左右滑动来切换任务（mission) ，轻点卡片可以翻面，长按卡片选取照片。
	p 最爽的是完全支持离线无网络下使用哦！记得及时同步就OK啦。
	p 小柒每周为您更新任务，任何建议欢迎来Q: 707179681
.hiddenfile
	input#img_uploader(accept="image/png,image/gif,image/jpeg" name="image" type="file")

