.banner
	.title.dancing 17up
	.sub_title.pacifico imagine english
	if avatar
		.avatar
			img(src=avatar)
		.info
			.name #{name}
	else
		.topic.desc 以卡片的方式学单词
		.login
			i.icon-qq_connect
			.desc 使用QQ帐号登录
